<h3 class="loginPrompt"> Register ☞ </h3>

<form class="register" action="/register" method="post">
  <label for="make">Upload a profile picture:</label>
  <input type="text" name="picture">
  <label for="make">Username:</label>
  <input type="text" name="username">
  <label for="make">Email:</label>
  <input type="text" name="email">
  <label for="make">Password:</label>
  <input type="text" name="password">
  <button>♕ Sign up here ♕ </button>
</form>
