
  <p class="logo">♕   ♕   ♕</p>
  <p style="font-size: 14px;">⟼ India Derrick ⟻</p>
  <i class="fab fa-twitter"></i>
  <i class="fab fa-facebook"></i>
  <i class="fas fa-phone"></i>
  <i class="fab fa-linkedin"></i>
