<div class="footer">
  <p class="logo">♕   ♕   ♕</p>
  <p class="footerFont">⟼ India Derrick ⟻</p><br>
  <p class="footerFont bold">HOME ||  ABOUT ||  EXPLORE ||  CONTACT</p>
  <i class="fab fa-twitter"></i>
  <i class="fab fa-facebook"></i>
  <i class="fas fa-phone"></i>
  <i class="fab fa-linkedin"></i>
</div>
