<header>
  <nav class="navbar">
    <div class="navbar-start">
      <h2 style="margin-left: 20px; margin-top: 12px;"><a href='#' class="iconHeading"> LENZATION <span class="logo">♕</span> </a></h2>
    </div>
    <div class="navbar-end">
      <ul class="navbar-menu">
        <li class="navbar-item"><a href='/'> Home </a></li>
        <li class="navbar-item"><a href='/about'> About </a></li>
        <li class="navbar-item"><a href='/posts'> Photos </a></li>
        <li class="navbar-item"><a href='#'> Login </a></li>
        <li class="navbar-item"><a href='#'> Register </a></li>
        <li class="navbar-item"><a href='#'> Logout </a></li>
      </ul>
    </div>
  </nav>
</header>
