<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Instagram Clone</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>
  <header>
      <% include ./partials/header %>
  </header>
  <body>
    <%- body %>
  </body>
  <footer>
      <% include ./partials/footer %>
  </footer>
</html>
