.body {
  font-family: 'Roboto Mono', monospace;
  background-color: #fafafa;
}

.crown {
  font-size: 80px;
}
.crown:hover {
  font-size: 140px;
}
.navbar {
  background-color: white;
  height: 60px;
}
.navbar:hover{
    box-shadow: 0 0 50px silver;
    /* border-bottom: 1px solid black; */
}
.helper{
  min-height: 40vh;
}

.helper2{
  min-height: 60vh;
}

nav, header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: +1;
}

.logo {
  font-size: 25px;
  color: black;
  font-family: 'Roboto Mono';
}
.has-text-centered{
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
}
.content {
  font-family: 'Roboto Mono', monospace;
  position: relative;
}
.logo:hover {
  color: silver;
}
.showTitle {
  border-top: 20px;
}
.showPageTitle{
  font-size: 25px;
  font-family: 'Roboto Mono', monospace ;
}

.caption{
  border-bottom: 1px solid grey;
}
.navItem {
  color: black;
  font-family: 'Roboto Mono', monospace ;
}
.navbar-menu {
  height: 100%;
  border-left: 1px solid black;
}
.navItem:hover {
  height: 100%;
  color: silver;
  border-bottom: 1px solid silver;
}
.indexImg:hover {
  opacity: 0.5;
}
.blackBackground:hover {
  background-color: black;
}
.commentsSection {
  padding: 5px;
}
#circlePic{
  border-radius: 50%;
  margin: 0 auto;
}
.indexProfile{
  position: fixed;
  /* margin-bottom: 150px; */
}
.hoverBorder:hover {
  border: 1px solid black;
  opacity: 1;
}
.fab, .fas {
  font-size: 14px;
}
.is-horizontal-center {
  justify-content: center;
}
#anchor {
  color: black !important;
}
.heartButton {
  font-size: 15px;
}
.footerFont {
  font-size: 14px;
}
.bold {
  font-weight: 600;
}
#middle {
  margin: 0 auto;
}
.pink{
  border: 1px solid magenta;
  border-radius: 50%;
  display: inline-block !important;
}
.royalblue {
  border: 1px solid royalblue;
  border-radius: 50%;
  display: inline-block !important;
}
#eachPost {
  margin-bottom: 20px;
}
#loggedIn {
  color: magenta;
  display: inline-block;
}
#inline {
  display: inline-block;
}
