<div class="columns is-multiline">
  <div class="column is-12-desktop">
    <br><p class=" has-text-centered">Welcome to Lenzation. Here you can upload, browse, comment on &&  like photographs. </p>
  </div>

  <div class=" helper column is-12-desktop has-text-centered footerFont">
<br>
    <ul>
      <li>1. Create an account</li>
      <li>2). Upload your first photo</li>
      <li>3). Explore the site</li>
    </ul>
  </div>

</div>
