
<div class="helper has-text-centered">
  <br>
  <br>
  <h1 class="crown"> ♕ </h1>
  <% if(locals.isLoggedIn) { %>
    <p> ⟼ <%= locals.currentUser.username %> ⟻</p>
   <% } else { %>
     Login to rule the site ;)
  <% } %>
</div>
