
<div class="columns is-multiline">
  <div class="column is-12-desktop">
    <img class="image is-128x128 is-rounded" id="circlePic" src="<%= locals.currentUser.picture %>" alt="picture">
  </div>
      <p class="has-text-centered"> @ <%= locals.currentUser.username %></p>
      

    <div class="column is-6-desktop">
      <br>
      <br>
      <br>

        <h1>Posts I have added </h1>
        <% addedPosts.forEach(post => { %>
          <div class="is-3-desktop">
            <a href="/posts/<%= post.id %>"><img class=" image is-128x128" src="<%= post.image %>" alt=":("></a>
          </div>
          <% }) %>

          <br>
          <br>
          <button href="/profile/edit" class="button is-primary">Edit Profile</button>
          <div class="column is-1">
            <div class="control column is-2-desktop">
              <br>
              <a href="/posts"<button class="button"><i class="fas fa-arrow-left"></i></button></a>
            </div>
          </div>
        </div>
      </div>
