<form class="" action="/posts" method="post">

  <div class="field">
    <label for="username"> Photo creds go to: </label>
    <input type="text" name="username">
  </div>

  <div class="field">
    <label for="image">Photo URL:</label>
    <input type="text" name="image">
  </div>

  <div class="field">
    <label for="date">Date uploaded: </label>
    <input type="number" name="date">
  </div>

  <div class="field">
    <label for="location">Where was this taken? </label>
    <input type="text" name="location">
  </div>
    <input type="text" name="like" value="â¤ï¸Ž">

  <div class="field">
    <label for="caption">Add a caption:</label>
    <textarea name="caption"></textarea>
  </div>
  <button>Upload image ðŸ“·</button>
</form>
