<form class="" action="/posts" method="post">

  <div class="field">
    <label for="username"><%=username%></label>
    <input type="text" name="username">
  </div>

  <div class="field">
    <label for="image">Photo URL:</label>
    <input type="text" name="image">
  </div>

  <div class="field">
    <label for="caption">Add a caption:</label>
    <input type="text" name="caption">
  </div>

  <div class="field">
    <label for="name">Name</label>
    <input type="text" name="name">
  </div>

  <button>Upload image 📷</button>
</form>
